.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: transparent;
  border: 2px solid rgba(253, 241, 241, 0.2);
  border-radius: 8px;
  padding: 10px 16px;
  width: 100%;

  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;

  font-family: inherit;
}

/* Tema claro */
.light {
  color: #fdf1f1;
}

.light:hover {
  background: rgba(253, 241, 241, 0.1);
}

/* Tema escuro */
.dark {
  border: 2px solid rgba(92, 89, 126, 0.2);
  color: rgb(92, 89, 126);
}
.dark:hover {
  background: rgba(43, 37, 110, 0.2);
  border-color: rgba(92, 89, 126, 0.4);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  white-space: nowrap;
}

/* Botão só de ícone */
.iconButton {
  background: transparent;
  border: 2px solid rgba(253, 241, 241, 0.2);
  border-radius: 8px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fdf1f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconButton:hover {
  background: rgba(253, 241, 241, 0.1);
}
